html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    border: solid;
    padding-left: 20px;
    height: auto;
    gap: 20px;
    justify-content:space-between;
}

ul {
    display: flex;
    list-style-type: none;
    padding-right: 60px;
    justify-content:space-between;
    align-items: center;
    font-size: large;
}

li {
    margin-left: 30px;
    
}