body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
}

header {
        font-family: "Comfortaa", sans-serif;
}

header,
main,
section,
article,
nav,
.logo {
    border: solid 2px #CCC;
    padding: 10px;
    margin: 10px;
}

.logo {
    font-size: 1.5em;
    font-weight: bolder;
    border: none;
}

nav {
    border: none;
    font-size: .8em;
    font-weight:bolder;
    display: flex;
    padding: 10px;
    gap: 10px;
    a:link {
        text-decoration: none;
        color: #306C9D;
    }
    a:visited {
        text-decoration: none; 
        color: #306C9D;
    }
}

aside,
body>header,
main,
.news-feed {
    padding: 10px;
    margin: 10px;
}

/* End Debugging Code */

article {
    min-height: 300px;
}

#top-header {
    background-color: white;
    position:fixed;
    height: 10vh;
    width: 100vw;
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

aside {
    border: none;
    background-color: #F2F2F2;
    position: fixed;
    top: 10vh;
    right: 3vw;
    width: 35vw;
    padding-top: 0;
    margin: 0;

}

#allSugUsers {
    top: 40vh;
    margin: 0;
    padding: 0;
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 62vw;
    border: none;
}

#mainuser {
    display: flex;
    font-size: 2.5em;
    font-weight: bolder;
    border: none;
}

#mainuser header {
    border: none;
}

#userlist {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 7vh; 
    border: none;
    a:link {
        text-decoration: none;
        color: #306C9D;
    }
    a:visited {
        text-decoration: none; 
        color: #306C9D;
    }
}

#sugtext {
    font-size: 24px;
    font-weight: bolder;
    color: #999999;
    border: none;
}

#suguser {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    height: 10vh;
    width: 30vh;
    border: none;
}

#sugimg {
    margin: 0;
    padding: 0;
    border: none;
}

img {
    border-radius: 50%;
    margin-top: 20px;
}

#sugtop {
    margin: 0;
    margin-top: 10px;
    gap: 0;
    color: #000;
    padding: 0;
    border: none;
}

#sugbot {
    margin-top: 0;
    gap: 0;
    padding: 0;
    font-size: 0.75em;
    border: none;
}

#sugfollow {
    font-size: 0.75em;
    border: none;
}


main {
    margin-top: 100px;
    width: 55vw;
    margin-left: 5vw;
    background-color: white;
}

@media (max-width: 800px) {

    aside {
        display:none;
    }
    
    main {
        margin-top: 100px ;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
    }

}